* {
  padding: 0;
  margin: 0;
}
.mask {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}
input {
  outline: none;
  border: none;
}

.nodata {
  font-size: 12px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.45);
}

@media screen and (max-width:1000px) {
  html,
  body {
    font-size: 28px;
  }
}
//滚动条整体部分
::-webkit-scrollbar {
  width: 10px; // y轴滚动条粗细
  height: 10px; // x轴滚动条粗细
  border-bottom: 1px solid #E9E9E9;
}

//滚动条里面的小方块，能上下左右移动（取决于是垂直滚动条还是水平滚动条）
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);       
  background: #E9E9E9;
  margin-bottom: 10px;
}

.btn {
  width: 60px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  &.normal {
    border: 1px solid #d5d5d5;
  }
  &.primary {
    background: rgb(18,150,17);
    color: #fff;
  }
}